.DayPicker-wrapper{
    outline: none;
}

.DayPicker-WeekdaysRow{
    display: flex;
}

.DayPicker-WeekdaysRow .DayPicker-Weekday{
    width: calc(var(--indent) * 2);
    height: calc(var(--indent) * 2);
    margin: calc(var(--indent) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DayPicker-Week{
    display: flex;
}

.DayPicker-Week .DayPicker-Day{
    width: calc(var(--indent) * 2);
    height: calc(var(--indent) * 2);
    margin: calc(var(--indent) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
